<apex:component >
	<div class="container-content">
		<button class="button square hollow blue icon"><span class="svg-circle-tick-blue"></span> This helped</button>
		<button class="button square hollow blue icon"><span class="svg-circle-cross-blue"></span> This didn't help</button>
	</div>
</apex:component>