<apex:component >
    <apex:attribute name="pkbSupCon" type="BelongSupportCategoryController" required="true" description="handle to the pkb controller" />
    <apex:attribute name="rerender" description="Hand over a list of additional element ids to rerender" type="String" required="false"/>
    <ul class="accordion" data-accordion="true" data-multi-expand="false" data-allow-all-closed="true">
        <apex:repeat value="{!pkbSupCon.knowledgeSettingProd}" var="kbProds" >
            <apex:variable var="activeAcc" value="{!IF(kbProds.Name == pkbSupCon.productCategory,'is-active', '')}"/>
            <li class="accordion-item {!activeAcc}" data-accordion-item="true">
                <a href="{!URLFOR($Page.Belong_Support_Category,null,[cat=kbProds.Name])}" class="accordion-title">
                	<h5>{!kbProds.Product_Label__c}</h5>
                </a>
                <div class="accordion-content" data-tab-content="true" style="display: {!IF(kbProds.Name == pkbSupCon.productCategory,'block', 'none')}">
                    <apex:repeat value="{!pkbSupCon.knowledgeProducts[kbProds.Name]}" var="kbProd" >
                    	<apex:variable var="highlightText" value="{!IF(UPPER(kbProd.Name) == UPPER(pkbSupCon.categorySelected),'text-dark', '')}"/>
                        <p class="h5">
                            <a class="{!highlightText}" href="{!URLFOR($Page.Belong_Support_Category,null,[cat=kbProd.Name])}">
                                {!kbProd.Title__c}
                            </a>
                        </p>
                    </apex:repeat>
                </div>
            </li>
        </apex:repeat>
    </ul>
</apex:component>