<apex:page showHeader="true" sidebar="true" tabStyle="Task" controller="BelongCSVfileUploadController" >
	<apex:includeScript value="{!URLFOR($Resource.jQuery)}"/>
	<style>
		 .requiredInput .requiredBlockRed
		{
			background-color: red;
			position: absolute;
			left: -4px;
			width: 3px;

			top: 1px;
			bottom: 1px;
		}
	</style>
	
	
	<apex:sectionHeader title="Upload data from CSV file"/>
	
	<script type="text/javascript">
	    var j$ = jQuery.noConflict();
	    
	    j$(document).ready(function() 
	    {
			bindFileUploadOnChange();
			
	    });
	    
	    function bindFileUploadOnChange() 
	    {
	    	j$('.csvFileUploadSMS').on('change', upload);
	    	j$('.csvFileUploadLog').on('change', upload);
	    }
	    
	    // Method that checks that the browser supports the HTML5 File API
	    function browserSupportFileUpload() 
	    {
	        var isCompatible = false;
	        if (window.File && window.FileReader && window.FileList && window.Blob) 
	        {
	        	isCompatible = true;
	        }
	        return isCompatible;
	    }
	    
	    // Method that reads and processes the selected file
	    function upload(evt) 
	    {
		    if (!browserSupportFileUpload()) 
		    {
		        alert('The File APIs are not fully supported in this browser!');
			} 
			else 
			{
				var data = null;
		        var file = evt.target.files[0];
		        console.log('File' + file);
		        
		        var reader = new FileReader();
		        reader.readAsText(file);
		        reader.onload = function(event) 
		        {
			        var csvData = event.target.result;
			        setContent(csvData);
			        console.log('CSV Data' + csvData);
				};
				reader.onerror = function() 
				{
		        	alert('Unable to read ' + file.fileName);
		        };
			}
	    }
	    
	    
	</script>
	<apex:form id="formId" enctype="multipart/form-data">
		<apex:actionFunction action="{!setContentFile}" name="setContent" rerender="FileOkSMSButton, FileOkLogButton" status="csvLoadStatus">
			<apex:param name="csvParam" value="" />
		</apex:actionFunction>
		<apex:pagemessages id="msg" />
		<apex:pageBlock id="BulkOptionPanelId" mode="edit" title="CSV File Upload">
			<!--  Component to allow user to upload file from local machine -->
			<apex:pageblockSection >
				 <apex:pageblockSectionItem >
					<apex:outputLabel value="File Upload Selection"/>
					<apex:outputPanel id="CSVOptionPanel">
					<apex:actionregion >
						<apex:selectList id="CSVOptionSelect" size="1" value="{!uploadOption}">
						    <apex:selectOptions value="{!uploadOptionList}"/>
						    <apex:actionSupport event="onchange" action="{!getUploadSelection}" rerender="BulkSMSPanelId, BulkContactLogPanelId" 
						    					status="uploadStatus" oncomplete="bindFileUploadOnChange();"/>
						</apex:selectList>
					</apex:actionregion>
						<apex:actionStatus id="uploadStatus">
							<apex:facet name="start">
								<img class="waitingImage" src="/img/loading.gif" style="padding-left:8px;" />
							</apex:facet>
						</apex:actionStatus>
					</apex:outputPanel>
				</apex:pageblockSectionItem>
					<apex:pageblockSectionItem >
					</apex:pageblockSectionItem>
			</apex:pageblockSection>
		</apex:pageBlock>
		<apex:outputPanel id="BulkSMSPanelId" >
			<apex:pageBlock mode="edit" title="SMS Bulk" rendered="{!isSMSSelected}">
				<apex:pageblockSection title="SMS Details" columns="1" collapsible="false" >
					<apex:pageblockSectionItem >
							<apex:outputLabel value="{!$ObjectType.SMS_Template__c.Fields.Template_Category__c.Label}"/>
							<apex:outputPanel layout="block" styleClass="requiredInput">
								<apex:actionregion >
									<div class="requiredBlockRed"></div>
									<apex:selectList id="SMSTemplateCatSelect" size="1" value="{!smsTemplateCat}">
				                        <apex:selectOptions value="{!smsTempCatsOptions}"/>
				                        <apex:actionSupport event="onchange" action="{!getSMSTemplateList}"  status="TemplateStatus" rerender="SMSTemplates, SMSTaskTable"/>
				                    </apex:selectList>
			                    </apex:actionregion>
							</apex:outputPanel>
					</apex:pageblockSectionItem>
					
					<apex:pageblockSectionItem >
						<apex:outputLabel value="SMS Template"/>
						<apex:outputPanel id="SMSTemplates" layout="block" styleClass="requiredInput">
							<div class="requiredBlockRed"></div>
							<apex:actionStatus id="TemplateStatus">
								<apex:facet name="stop">
				                    <apex:selectList id="SMSTemplateSelect" size="1" value="{!SMSTemplateId}">
				                        <apex:selectOptions value="{!SMSTemplatesList}"/>
				                        <apex:actionSupport event="onchange" action="{!resetSMSTaskTable}"  rerender="SMSTaskTable" />
				                    </apex:selectList>
			                    </apex:facet>
								<apex:facet name="start">
									<img class="waitingImage" src="/img/loading.gif" title="Merging Template" style="padding-left:8px;" />
								</apex:facet>
							</apex:actionStatus>
						</apex:outputPanel>
					</apex:pageblockSectionItem>
					
					<apex:pageblockSectionItem >
						<apex:outputLabel value="Select file"/>
						<apex:outputPanel >
							<input id="inputFileCSVS" class="csvFileUploadSMS" type="file" name="File Upload"  accept=".csv"/>
							<apex:actionStatus id="csvLoadStatus">
								<apex:facet name="stop">
								<apex:actionRegion >
									<apex:outputPanel id="FileOkSMSButton">
					        			<apex:commandButton action="{!loadFile}" value="✓" style="color:green; font-size:12px;" status="csvLoadStatus" 
					        								alt="Load File" reRender="SMSTaskTable, sendSMSPanelId, msg" rendered="{!isFileLoad}"/>
					        		</apex:outputPanel>
				        		</apex:actionRegion>
								</apex:facet>
				        		<apex:facet name="start">
									<apex:outputPanel layout="block" styleClass="noRecordsFound" style="text-align:center;">
										<img class="waitingImage" src="/img/loading.gif" title="Please Wait" />
									</apex:outputPanel>
								</apex:facet>
		                   	</apex:actionStatus>
	        			</apex:outputPanel>
					</apex:pageblockSectionItem>
				</apex:pageblockSection>
				<apex:actionStatus id="SendingStatus">
					<apex:facet name="stop">
						<apex:pageblockSection title="SMS Details" columns="1" collapsible="false" >
							<apex:outputPanel id="SMSTaskTable">
								<apex:pageblocktable value="{!SMSNotificationList}" var="smsTask" columnsWidth="20%, 20%, 10%, 50%">
							        	<apex:column headerValue="Account Name" >
							            	<apex:outputField value="{!smsTask.WhatId}"/>
										</apex:column>
										<apex:column headerValue="Contact Name">
											<apex:outputField value="{!smsTask.WhoId}"/>
										</apex:column>
										<apex:column headerValue="Mobile Number">
											<apex:outputPanel layout="block" styleClass="requiredInput">
												<div class="requiredBlockRed"></div>
												<apex:inputField value="{!smsTask.SMS_Recipient__c}" />
											</apex:outputPanel>
										</apex:column>
										<apex:column headerValue="SMS Message">
											<apex:outputPanel layout="block" styleClass="requiredInput">
												<div class="requiredBlockRed"></div>
												<apex:inputField value="{!smsTask.Description}" style="width:95%"/>
											</apex:outputPanel>
										</apex:column>
								</apex:pageblocktable>
								<!-- Show notice if related list has no records -->
								<apex:outputPanel layout="block" styleClass="noRecordsFound" rendered="{!SMSNotificationList.size == 0}">
									No records found.
								</apex:outputPanel>
								<apex:outputText value="&nbsp;" escape="false" />
							    <apex:outputText value="&nbsp;" escape="false" />
							</apex:outputPanel>
									<apex:outputPanel id="sendSMSPanelId" style="float:right;">
										<apex:commandButton action="{!SendSMS}" value="Send" id="FileOKButton" rendered="{!isLoadSuccess}" 
												reRender="BulkSMSPanelId, BulkOptionPanelId" status="SendingStatus"/>
									</apex:outputPanel>
						</apex:pageblockSection>
					</apex:facet>
		       		<apex:facet name="start">
						<apex:outputPanel layout="block" styleClass="noRecordsFound" style="text-align:center;">
							<img class="waitingImage" src="/img/loading.gif" title="Please Wait" />
								Sending Message()
						</apex:outputPanel>
					</apex:facet>
				</apex:actionStatus>
			</apex:pageBlock>
		</apex:outputPanel>
		<apex:outputPanel id="BulkContactLogPanelId" >
			<apex:pageBlock mode="edit" title="Contact Log " rendered="{!isConLogSelected}">
				<apex:pageblockSection >
					<apex:pageblockSectionItem >
						<apex:outputLabel value="Select file"/>
						<apex:outputPanel >
							<input id="inputFileCSVS" class="csvFileUploadLog" type="file" name="File Upload"  accept=".csv"/>
							<apex:actionStatus id="csvLoadStatus">
								<apex:facet name="stop">
									<apex:actionRegion >
										<apex:outputPanel id="FileOkLogButton">
						        			<apex:commandButton action="{!loadFile}" value="✓" style="color:green; font-size:12px;" status="csvLoadStatus"
						        			 					alt="Load File" rerender="NoteLogTable, saveLogPanelId, msg" rendered="{!isFileLoad}"/>
					        			</apex:outputPanel>
					        		</apex:actionRegion>
								</apex:facet>
				        		<apex:facet name="start">
									<apex:outputPanel layout="block" styleClass="noRecordsFound" style="text-align:center;">
										<img class="waitingImage" src="/img/loading.gif" title="Please Wait" />
									</apex:outputPanel>
								</apex:facet>
		                   	</apex:actionStatus>
	        			</apex:outputPanel>
					</apex:pageblockSectionItem>
				</apex:pageblockSection>
				<apex:actionStatus id="SavingContactLogStatus">
					<apex:facet name="stop">
					<apex:pageblockSection title="Note Details" columns="1" collapsible="false" >
						<apex:outputPanel id="NoteLogTable">
							<apex:pageblocktable value="{!contactLogList}" var="ContLog" columnsWidth="20%, 30%, 40%, 10%">
					        	<apex:column headerValue="Account Name" >
					            	<apex:outputField value="{!ContLog.ParentId}"/>
								</apex:column>
								<apex:column headerValue="Note Title">
									<apex:outputPanel layout="block" styleClass="requiredInput">
										<div class="requiredBlockRed"></div>
										<apex:inputField value="{!ContLog.Title}" style="width:95%"/>
									</apex:outputPanel>
								</apex:column>
								<apex:column headerValue="Note Body">
									<apex:outputPanel layout="block" styleClass="requiredInput">
										<div class="requiredBlockRed"></div>
										<apex:inputField value="{!ContLog.Body}" style="width:95%"/>
									</apex:outputPanel>
								</apex:column>
								<apex:column headerValue="Private">
									<apex:inputField value="{!ContLog.isPrivate}" />
								</apex:column>
							</apex:pageblocktable>
							<!-- Show notice if related list has no records -->
							<apex:outputPanel layout="block" styleClass="noRecordsFound" rendered="{!contactLogList.size == 0}">
								No records found.
							</apex:outputPanel>
							<apex:outputText value="&nbsp;" escape="false" />
						    <apex:outputText value="&nbsp;" escape="false" />
						</apex:outputPanel>
						<apex:outputPanel id="saveLogPanelId" style="float:right;">
							<apex:commandButton action="{!saveContactNotes}" value="Save" id="logSaveButton" rendered="{!isLoadSuccess}" 
								reRender="BulkContactLogPanelId, BulkOptionPanelId" status="SavingContactLogStatus"/>
						</apex:outputPanel>
					</apex:pageblockSection>
				</apex:facet>
		       		<apex:facet name="start">
						<apex:outputPanel layout="block" styleClass="noRecordsFound" style="text-align:center;">
							<img class="waitingImage" src="/img/loading.gif" title="Please Wait" />
								Saving Contact Log(s)
						</apex:outputPanel>
					</apex:facet>
				</apex:actionStatus>
			</apex:pageBlock>
		</apex:outputPanel>
		
	</apex:form>   
</apex:page>